/*!
 * CodeLatam
 *
 *
 * Archivos Propios de CodeLatam.org
 *
 */
 
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	
}
footer {
	background-color:#272727;
	font-size:13px;		
	padding:15px 10px 20px 40px;
	border:1px solid #28170d;
	border-bottom:0;
	color: #ffffff;
}
.foot-span1{
	color:#2ca9e4;
}
footer .h3{
	margin: 0;
	padding: 5px;
	font-weight: normal;
	font-size:18px;
}