<!DOCTYPE html>
<html>
	<title>Mail</title>
	<head>
		
	</head>
	<body>
		<header>
			
		</header>
	Gracias {{nombre}} por tu interes por formar parte de esta nueva comunidad hispana para programadores <br>
Te mantendremos informado de nuestra fecha de Lanzamiento.
áñ
<footer>
	<p>Atentamente:</p>
	<p>El Equipo de Codelatam.org</p>
	<p>Siguenos!<a href="http://twitter.com/codelatam">@Codelatam</a></p>
	<p>Danos un Me gusta!<a href="http://www.facebook.com/codelatam">http://www.facebook.com/CodeLatamm</a></p>
	<p>Subscribete a nuestro Canal!<a href="http://www.youtube.com/codelatam">http://www.youtube.com/Codelatam</a></p>
</footer>		
	</body>
	
	
</html>